* {
	/* Select font */
	margin: 0;
	padding: 0;
}

/* TODO: three js code redo, so it doesn't 
mess with the canvas size creating overflow */
body {
	overflow: hidden;
}

.scene {
	width: 100%;
	height: 100%;
	position: fixed;
	outline: none;
	top: 0;
    left: 0;
	background-color: black;
}

h1 {
	color: limegreen;
	position: absolute;
	top: 10px;
	width: 100%;
	z-index: 100;
	display: block;
}