* {
	/* Select font */
	margin: 0;
}

body {
	background-color: #ffffff;
}

.hero {
	background-color: #000000;
	height: 100vh;
	width: 100%;
}

.navbar {
	position: absolute;
	display: flex;
	justify-content: space-between;
	align-self: center;
	margin-top: 0;
	height: auto;
	width: 70%;
	margin-left: 15%;
	margin-right: 15%;
	/* Make transparent after adding stars and the solar system */
	background-color: transparent; 
	padding-top: 0.25rem;
	padding-bottom: 0.25rem;
}

.logo {
	font-size: 2rem;
	color: white;
}

.section-links {
	display: inline;
	width: 70%;
	font-size: 2rem;
	text-align: right;
}

.link {
	/* margin-right: 5%; */
	margin-left: 5%;
	text-decoration: none;
	color: white;
}

.space {
	height: 100vh;
	width: 100%;
}

.main {
	margin-left: 15%;
	margin-right: 15%;
	width: auto;
}

.title {
	text-align: center;
	padding: 0.5rem;
}

.projects {
	background-color: #c3c3c3;
	height: auto;
	width: 100%;
	border-radius: 0 0 1rem 1rem;
	padding: 0 1rem 1rem 1rem;
}

.projects-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	text-align: center;
	padding: 0 1rem 1rem 2rem;
}

.project-card {
	display: inline-block;
	flex-basis: 25rem;
	/* I dont know if grow is good here */
	flex-grow: 1;
	margin: 1rem;
	padding: 1rem;
	/* width: 40%; */
	width: auto;
	height: auto;
	background-color: green;
	border-radius: 1rem;
}

.skills {
	background-color: white;
	/* margin: 1rem; */
	height: auto;
	width: 100%;
}

.skills-container {
	display: flex;
	flex-wrap: wrap;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	text-align: center;
	padding: 0 1rem 1rem 2rem;
}

.skill {
	display: inline-block;
	vertical-align: middle;
	flex-grow: 1;
	/* width: 15%; */
	flex-basis: 15rem;

	padding: 1rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-right: 1rem;
	margin-left: 1rem;

	background-color: #11b6d4;
	color: black;
	font-weight: 600;
	border-radius: 0.5rem;
}

.education {
	background-color: #c3c3c3;
	height: auto;
	width: 100%;
	border-radius: 1rem;
}

.university {
	padding: 0 1rem 1rem 2rem;
}

.high-school {
	padding: 0 1rem 2rem 2rem;
}

.contact {
	background-color: white;
	height: auto;
	width: 100%;
}