* {
	/* Select font */
	margin: 0;
	padding: 0;
}

body {
	overflow: hidden;
}

.scene {
	width: 100%;
	height: 100%;
	position: fixed;
	outline: none;
	top: 0;
    left: 0;
}

section {
	display: none;
	position: absolute;
	top: 30%;
	bottom: auto;
	left: 20%;
	width: 30%;
	height: auto;
	z-index: 100;

	text-align: center;
}

h1 {
	padding-bottom: 0.5rem;
}

#intro {
	top: 45%;
	background-color: #9fc164;
	padding: 1em;
	border-radius: 1em;
	box-shadow: 10px 10px 10px rgba(159, 193, 100, 0.15);
}

#projects {
	top: 35%;
	height: auto;
	background-color: #bd5a3a;
	padding: 1em;
	border-radius: 1em;
	box-shadow: 10px 10px 10px rgba(189, 90, 58, 0.15);
}

.projects-lot {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	text-align: center;
}

.project-button {
	border-radius: 0.5em;
	margin-left: 1em;
	margin-right: 1em;
	font-size: 0.9em;
	font-weight: 600;
	background-color: #a6c930;
}

.project-button:hover {
	background-color: #bd5a3a;
	box-shadow: none;
}

.project-card {
	display: block;
	flex-basis: 100%;
	width: auto;
	height: auto;
	margin-bottom: 0.5rem;
}

.project-line {
	margin-top: 0.25em;
	margin-bottom: 0.25em;
	margin-left: 1em;
	margin-right: 1em;
	text-align: justify;
	text-justify: inter-word;
}

.project-invisible {
	display: none;
}

#skills {
	background-color: #c97739;
	padding: 1em;
	border-radius: 1em;
	box-shadow: 10px 10px 10px rgba(201, 119, 57, 0.15);
}

.skills-container {
	display: flex;
	justify-content: space-between;
	flex-wrap: wrap;
	flex-direction: row;
	align-items: center;
	text-align: center;
}

.skill {
	display: inline-block;
	vertical-align: middle;
	flex-grow: 2;
	flex-basis: 5rem;

	padding: 0.5rem;
	margin-top: 0.5rem;
	margin-bottom: 0.5rem;
	margin-right: 1rem;
	margin-left: 1rem;

	background-color: #dbcf8a;
	font-weight: 600;
	border-radius: 0.5rem;
}

#education {
	top: 40%;
	background-color: #c3924f;
	padding: 1em;
	border-radius: 1em;
	box-shadow: 10px 10px 10px rgba(195, 146, 79, 0.15);
}

.education-university {
	margin-top: 0.5em;
	margin-bottom: 1em;
}

.education-highschool {
	margin-bottom: 0.5em;
}

#contact {
	top: 45%;
	background-color: #46bdad;
	padding: 1em;
	border-radius: 1em;
	box-shadow: 10px 10px 10px rgba(70, 189, 173, 0.15);
}

.contact-email {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;

}

.email {
	margin-left: 0.5em;
	font-size: large;
	font-weight: 600;
}

.contact-linkedin {
	display: flex;
	justify-content: center;
	align-items: center;
	align-self: center;
	margin-top: 0.5em;
}

.linkedin-link {
	margin-left: 0.5em;
	font-size: large;
	font-weight: 600;
	text-decoration: none;
}

.tutorial {
	display: block;
	position: absolute;
	bottom: 5%;
	width: 25%;
	left: 40%;
	color: #eda437;
}

.visible {
	opacity: 0.75;
}

.invisible {
	opacity: 0;
}


